In [3]:
# !pip install pandas_datareader
# !pip install yfinance

In [1]:
try:
    import urllib.request as urllib2
except ImportError:
    import urllib2
from bs4 import BeautifulSoup as bs
#https://finance.yahoo.com/quote/amzn/history/
def get_historical_data(name, number_of_days):
    data = []
    url = "https://finance.yahoo.com/quote/" + name + "/history/"
    rows = bs(urllib2.urlopen(url).read()).findAll('table')[0].tbody.findAll('tr')

    for each_row in rows:
        divs = each_row.findAll('td')
        #print(divs)
        if divs[1].span.text  != 'Dividend': #Ignore this row in the table
            #I'm only interested in 'Open' price; For other values, play with divs[1 - 5]
            data.append({'Date': divs[0].span.text, 'Close': float(divs[4].span.text.replace(',',''))})
    print(len(data))
    return data[:number_of_days]

#Test
for i in get_historical_data('TSLA', 5):
    print(i)

HTTPError: HTTP Error 404: Not Found

In [4]:
import pandas as pd

df = pd.read_csv('fortune27.csv')
df

           Symbol                                      Name   Category
0     RELIANCE.NS                   Reliance Industries Ltd  Large Cap
1          TCS.NS            Tata Consultancy Services Ltd.  Large Cap
2     HDFCBANK.NS                            HDFC Bank Ltd.  Large Cap
3         INFY.NS                               Infosys Ltd  Large Cap
4   HINDUNILVR.NS                    Hindustan Unilever Ltd  Large Cap
5    ICICIBANK.NS                            ICICI Bank Ltd  Large Cap
6         SBIN.NS                       State Bank Of India  Large Cap
7        WIPRO.NS                                 Wipro Ltd  Large Cap
8         LTTS.NS           L&T Technology Services Limited    Mid Cap
9     BOSCHLTD.NS                                 Bosch Ltd    Mid Cap
10   GUJGASLTD.NS                       Gujarat Gas Limited    Mid Cap
11  BANKBARODA.NS                            Bank Of Baroda    Mid Cap
12      ASTRAL.NS                            ASTRAL LIMITED    Mid Cap
13   HINDPETRO.NS       Hindustan Petroleum Corporation Ltd    Mid Cap
14  ADANIPOWER.NS                       Adani Power Limited    Mid Cap
15    ASHOKLEY.NS                         Ashok Leyland Ltd    Mid Cap
16   BAJAJELEC.NS                     Bajaj Electricals Ltd  Small Cap
17        BASF.NS                            BASF India Ltd  Small Cap
18    GLENMARK.NS              Glenmark Pharmaceuticals ltd  Small Cap
19  APOLLOTYRE.NS                          Apollo Tyres Ltd  Small Cap
20  CASTROLIND.NS                         Castrol India Ltd  Small Cap
21  MOTILALOFS.NS  Motilal Oswal Financial Services Limited  Small Cap
22     FINPIPE.NS                   Finolex Industries Ltd.  Small Cap
23       BSOFT.NS                         BIRLASOFT LIMITED  Small Cap
24  GODREJAGRO.NS                    Godrej Agrovet Limited  Small Cap
25  IBULHSGFIN.NS        INDIABULLS HOUSING FINANCE LIMITED  Small Cap

In [5]:
cmp_lst = list(df['Symbol'])
cmp_lst

['RELIANCE.NS',
 'TCS.NS',
 'HDFCBANK.NS',
 'INFY.NS',
 'HINDUNILVR.NS',
 'ICICIBANK.NS',
 'SBIN.NS',
 'WIPRO.NS',
 'LTTS.NS',
 'BOSCHLTD.NS',
 'GUJGASLTD.NS',
 'BANKBARODA.NS',
 'ASTRAL.NS',
 'HINDPETRO.NS',
 'ADANIPOWER.NS',
 'ASHOKLEY.NS',
 'BAJAJELEC.NS',
 'BASF.NS',
 'GLENMARK.NS',
 'APOLLOTYRE.NS',
 'CASTROLIND.NS',
 'MOTILALOFS.NS',
 'FINPIPE.NS',
 'BSOFT.NS',
 'GODREJAGRO.NS',
 'IBULHSGFIN.NS']

In [6]:
from pandas_datareader import data as pdr
from datetime import date
import yfinance as yf
yf.pdr_override()
import pandas as pd
# Tickers list
# We can add and delete any ticker from the list to get desired ticker live data
ticker_list=cmp_lst
today = date.today()
# We can get data by our choice by giving days bracket
start_date= "2010-01-01"
end_date="2020-12-31"
files=[]
def getData(ticker):
    print (ticker)
    data = pdr.get_data_yahoo(ticker, start='2010-01-01', end='2020-12-31',)
#     dataname= ticker+'_'+str(end_date)
    dataname= ticker
    print(dataname)
    files.append(dataname)
    SaveData(data, dataname)
# Create a data folder in your current dir.
def SaveData(df, filename):
    df.to_csv("data2/"+filename+".csv")
#This loop will iterate over ticker list, will pass one ticker to get data, and save that data as file.
for tik in ticker_list:
    getData(tik)

RELIANCE.NS
[*********************100%***********************]  1 of 1 completed
RELIANCE.NS
TCS.NS
[*********************100%***********************]  1 of 1 completed
TCS.NS
HDFCBANK.NS
[*********************100%***********************]  1 of 1 completed
HDFCBANK.NS
INFY.NS
[*********************100%***********************]  1 of 1 completed
INFY.NS
HINDUNILVR.NS
[*********************100%***********************]  1 of 1 completed
HINDUNILVR.NS
ICICIBANK.NS
[*********************100%***********************]  1 of 1 completed
ICICIBANK.NS
SBIN.NS
[*********************100%***********************]  1 of 1 completed
SBIN.NS
WIPRO.NS
[*********************100%***********************]  1 of 1 completed
WIPRO.NS
LTTS.NS
[*********************100%***********************]  1 of 1 completed
LTTS.NS
BOSCHLTD.NS
[*********************100%***********************]  1 of 1 completed
BOSCHLTD.NS
GUJGASLTD.NS
[*********************100%***********************]  1 of 1 completed
GUJGASLTD.NS
BANKBARODA.NS
[*********************100%***********************]  1 of 1 completed
BANKBARODA.NS
ASTRAL.NS
[*********************100%***********************]  1 of 1 completed
ASTRAL.NS
HINDPETRO.NS
[*********************100%***********************]  1 of 1 completed
HINDPETRO.NS
ADANIPOWER.NS
[*********************100%***********************]  1 of 1 completed
ADANIPOWER.NS
ASHOKLEY.NS
[*********************100%***********************]  1 of 1 completed
ASHOKLEY.NS
BAJAJELEC.NS
[*********************100%***********************]  1 of 1 completed
BAJAJELEC.NS
BASF.NS
[*********************100%***********************]  1 of 1 completed
BASF.NS
GLENMARK.NS
[*********************100%***********************]  1 of 1 completed
GLENMARK.NS
APOLLOTYRE.NS
[*********************100%***********************]  1 of 1 completed
APOLLOTYRE.NS
CASTROLIND.NS
[*********************100%***********************]  1 of 1 completed
CASTROLIND.NS
MOTILALOFS.NS
[*********************100%***********************]  1 of 1 completed
MOTILALOFS.NS
FINPIPE.NS
[*********************100%***********************]  1 of 1 completed
FINPIPE.NS
BSOFT.NS
[*********************100%***********************]  1 of 1 completed
BSOFT.NS
GODREJAGRO.NS
[*********************100%***********************]  1 of 1 completed
GODREJAGRO.NS
IBULHSGFIN.NS
[*********************100%***********************]  1 of 1 completed
IBULHSGFIN.NS

In [33]:
import pandas as pd1
df=pd1.read_csv('data//amzn.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-12-31,137.089996,137.279999,134.520004,134.520004,134.520004,4523000
1,2010-01-04,136.250000,136.610001,133.139999,133.899994,133.899994,7599900
2,2010-01-05,133.429993,135.479996,131.809998,134.690002,134.690002,8851900
3,2010-01-06,134.600006,134.729996,131.649994,132.250000,132.250000,7178800
4,2010-01-07,132.009995,132.320007,128.800003,130.000000,130.000000,11030200
...,...,...,...,...,...,...,...
2591,2020-04-20,2389.949951,2444.979980,2386.050049,2393.610107,2393.610107,5770700
2592,2020-04-21,2416.610107,2428.310059,2279.659912,2328.120117,2328.120117,7476700
2593,2020-04-22,2369.000000,2394.000000,2351.000000,2363.489990,2363.489990,4218300
2594,2020-04-23,2399.979980,2424.219971,2382.080078,2399.449951,2399.449951,5066600
2595,2020-04-24,2417.000000,2420.429932,2382.000000,2410.219971,2410.219971,3824900

In [43]:
op=dict(df.loc[10])
for keys in op: 
    op[keys] = str(op[keys])

In [44]:
op

{'Date': '2010-01-15',
 'Open': '129.17999267578122',
 'High': '129.64999389648438',
 'Low': '127.05999755859376',
 'Close': '127.13999938964844',
 'Adj Close': '127.13999938964844',
 'Volume': '15376500'}